<div ng-controller="lists:list">

  <h1>Lists</h1>

  <div id="createListModal" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create List (type: {{ forms.createList.type }})</h4>
        </div>

        <div class="modal-body">
          <form ng-submit="processCreateListForm()">

            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control" placeholder="new users" ng-model="forms.createList.name">
            </div>

            <div class="form-group">
              <label>Folder</label>
              <input type="text" name="folder" class="form-control" placeholder="default" ng-model="forms.createList.folder">
            </div>

            <div ng-if="forms.createList.type === 'dynamic'">
              <div class="form-group">
                <label>Person Query</label>
                <textarea rows="5" name="personQuery" class="form-control" placeholder='{"bool":{"must":[{"wildcard":{"data.firstName":"*evan*"}}]}}' ng-model="forms.createList.personQuery"></textarea>
              </div>

              <div class="form-group">
                <label>Event Query</label>
                <textarea rows="5" name="eventQuery" class="form-control" ng-model="forms.createList.eventQuery"></textarea>
              </div>

              <div class="form-group">
                <label>Message Query</label>
                <textarea rows="5" name="messageQuery" class="form-control" ng-model="forms.createList.messageQuery"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  <span class="glyphicon glyphicon-flash"></span> Submit
                </button>
              </div>
            </div>

          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div id="editListModal" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit List (type: {{ forms.editList.type }})</h4>
        </div>

        <div class="modal-body">
          <form ng-submit="processEditListForm()">

            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control" placeholder="new users" ng-model="forms.editList.name">
            </div>

            <div class="form-group">
              <label>Folder</label>
              <input type="text" name="folder" class="form-control" placeholder="default" ng-model="forms.editList.folder">
            </div>

            <div ng-if="forms.editList.type === 'dynamic'">
              <div class="form-group">
                <label>Person Query</label>
                <textarea rows="5" name="personQuery" class="form-control" placeholder='{"bool":{"must":[{"wildcard":{"data.firstName":"*evan*"}}]}}' ng-model="forms.editList.personQuery"></textarea>
              </div>

              <div class="form-group">
                <label>Event Query</label>
                <textarea rows="5" name="eventQuery" class="form-control" ng-model="forms.editList.eventQuery"></textarea>
              </div>

              <div class="form-group">
                <label>Message Query</label>
                <textarea rows="5" name="messageQuery" class="form-control" ng-model="forms.editList.messageQuery"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  <span class="glyphicon glyphicon-flash"></span> Submit
                </button>
              </div>
            </div>

          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <a ng-click="createList('dynamic');" class="btn btn-primary">Create Dynamic List</a>
  <a ng-click="createList('static');"  class="btn btn-primary">Create Static List</a>

  <table class="table table-striped table-hover">

    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>name</th>
        <th>folder</th>
        <th>type</th>
        <th>people count</th>
        <th>people counted at</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody ng-repeat="list in lists">
      <tr>
        <td><a href="/#/list/{{ list.id }}/people"><span class="glyphicon glyphicon-user">&nbsp;</span></a></td>
        <td>{{ list.createdAt }}</td>
        <td>{{ list.updatedAt }}</td>
        <td><strong>{{ list.name }}</strong></td>
        <td>{{ list.folder }}</td>
        <td>{{ list.type }}</td>
        <td>{{ list.peopleCount }}</td>
        <td>{{ list.peopleCountedAt }}</td>
        <td><span ng-click="peopleCount(list.id);" class="glyphicon glyphicon-refresh">&nbsp;</span></td>
        <td><span ng-click="copyList(list.id);" class="glyphicon glyphicon-duplicate">&nbsp;</span></td>
        <td><span ng-click="editList(list.id);" class="glyphicon glyphicon-pencil">&nbsp;</span></td>
        <td><span ng-click="deleteList(list.id);" class="glyphicon glyphicon-remove">&nbsp;</span></td>
      </tr>
    </tbody>

  </table>

  <ul class="pagination pagination-sm" ng-if="lists.length > 0">
    <li ng-class="pagination.showBack ? '' : 'disabled'" ><a href="/#/lists/list/{{ pagination.firstPage }}">&laquo;</a></li>

    <li ng-repeat="p in pagination.pages" ng-class="p.active ? 'active' : ''">
      <a href="/#/lists/list/{{ p.page }}">{{ p.page }}</a>
    </li>

    <li ng-class="pagination.showForward ? '' : 'disabled'"><a href="/#/lists/list/{{ pagination.lastPage }}">&raquo;</a></li>
  </ul>

  <p>
    <strong>Query Notes:</strong>
    <ul>
      <li>Do not include "query" as the top level of your query hash.</li>
      <li>We will validate and format your JSON for you.</li>
      <li>Remember to "quote" JSON keys and values</li>
      <li>Alawys use lower-case when matching strings: <pre>
{
    "bool": {
        "must": [
            {
                "wildcard": {
                    "data.firstName": "E*"
                }
            }
        ]
    }
}
      </pre></li>
      <li>You can short-hand queries with a single match:<pre>
{
    "wildcard": {
        "data.firstName": "E*"
    }
}
      </pre></li>
      <li>And finally, you can make compound queries which will be joined with *AND*.  Here is how you would send an email to all users who signed up this month who have bought a product.<pre>
// USERS
{
  "range" : {
    "createdAt" : {
      "gte" : "now-1M",
      "lte" : "now"
    }
  }
}

// EVENTS
{
  "query": {
    "bool": {
      "must": [
        {
          "term": {
            "type": "purchase"
          }
        }
      ]
    }
  }
}
      </pre></li>
    </ul>
  </p>

</div>
