.env

node_modules/*
log/*
pids/*
locales/*
tmp/*

public/js/actionhero/actionheroClient.*
public/bower_components/*
public/js/navigation.js
public/js/routes.js

npm-debug.log
.DS_Store
.env
dump.rdb
