<div ng-controller="analytics:histogram">

  <h2>Histogram:</h2>

  <div class="row">
    <form class="form-horizontal" ng-submit="loadHistogram()">

      <div class="col-md-2">
        <label for="select" class="control-label">Interval</label>
        <select class="form-control" ng-model="histogramOptions.interval" ng-options="i for i in possibleIntervals"></select>
      </div>

      <div class="col-md-4">
        <label for="select" class="control-label">Start</label>
        <div class="dropdown">
          <a class="dropdown-toggle" id="histogramOptions-start" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="histogramOptions.start"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="histogramOptions.start" data-datetimepicker-config="{ dropdownSelector: '#histogramOptions-start' }"/>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <label for="select" class="control-label">End</label>
        <div class="dropdown">
          <a class="dropdown-toggle" id="histogramOptions-end" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="histogramOptions.end"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="histogramOptions.end" data-datetimepicker-config="{ dropdownSelector: '#histogramOptions-end' }"/>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <label class="control-label">&nbsp;</label>
        <button type="submit" class="form-control btn btn-primary">Update</button>
      </div>

      <div class="col-md-12" ng-if="histogramOptions.selectionsName">
        <br />
        <div class="well well-sm">
          <h4>Possible {{ histogramOptions.selectionsName }}:</h4>

          <div class="row">
            <div class="col-md-2" ng-repeat="(k,v) in histogramOptions.selections">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="histogramOptions.selections[k]"> {{ k }}
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="histogramChart" width="300" height="300" style="width: 100%; height: auto;"></div>
    </div>
  </div>
</div>
