<div ng-controller="analytics:recent">

  <h2>All {{ section }} ({{ total }} total):</h2>

  <table class="table table-striped table-hover">

    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th ng-if="records[0].source !== undefined">source</th>
        <th ng-if="records[0].type !== undefined">type</th>
        <th ng-if="records[0].transport !== undefined">transport</th>
        <th>data</th>
      </tr>
    </thead>

    <tbody ng-repeat="record in records">
      <tr>
        <td><a href="/#/{{ recordType }}/{{ record.guid  }}"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a></td>
        <td>{{ record.createdAt }}</td>
        <td>{{ record.updatedAt }}</td>
        <td ng-if="record.source !== undefined">{{ record.source }}</td>
        <td ng-if="record.type !== undefined">{{ record.type }}</td>
        <td ng-if="record.transport !== undefined">{{ record.transport }}</td>
        <td>{{ record.data }}</td>
      </tr>
    </tbody>

  </table>

  <ul class="pagination pagination-sm">
    <li ng-class="pagination.showBack ? '' : 'disabled'" ><a href="/#/{{ section }}/recent/{{ pagination.firstPage }}">&laquo;</a></li>

    <li ng-repeat="p in pagination.pages" ng-class="p.active ? 'active' : ''">
      <a href="/#/{{ section }}/recent/{{ p.page }}">{{ p.page }}</a>
    </li>

    <li ng-class="pagination.showForward ? '' : 'disabled'"><a href="/#/{{ section }}/recent/{{ pagination.lastPage }}">&raquo;</a></li>
  </ul>

</div>
