<div ng-controller="campaign:edit">

  <row>
    <div class="col-md-12">
      <h1>Edit Campaign: <input type="text" ng-model="campaign.name"></h1>
      <p><input size="50" type="text" ng-model="campaign.description"></p>
      <p>
        This is a
        <select name="type" ng-model="campaign.type">
          <option ng-repeat="t in types" value="{{t}}">{{t}}</option>
        </select>
        campaign using the
        <select name="listId" ng-model="campaign.listId">
          <!--  I don't know why the parseInt() is required here... but it is! -->
          <option ng-repeat="l in lists" value="{{l.id}}" ng-selected="parseInt(campaign.listId) === parseInt(l.id)">{{l.folder}} / {{l.name}}</option>
        </select>
        list and
        <select name="templateId" ng-model="campaign.templateId">
          <option ng-repeat="t in templates" value="{{t.id}}" ng-selected="parseInt(campaign.templateId) === parseInt(t.id)">{{t.folder}} / {{t.name}}</option>
        </select>
        template.
      </p>

      <p>This list currently will send to {{ list.peopleCount }} people</p>

      <a ng-click="editCampaign();" class="btn btn-primary">Save</a>
      <a ng-click="deleteCampaign();" class="btn btn-danger">Delete</a>

      <hr />
      <h2>Campaign Variables:</h2>

        <table class="table table-striped table-hover">

          <thead>
            <tr>
              <th>key</th>
              <th>value</th>
            </tr>
          </thead>

          <tbody ng-repeat="campaignVariable in transport.campaignVariables">
            <tr>
              <td>{{ campaignVariable }}</td>
              <td>
                <span class="glyphicon glyphicon-edit">&nbsp;</span><input ng-model="campaign.campaignVariables[campaignVariable]" type="text" style="width:90%" >
              </td>
            </tr>
          </tbody>

        </table>
      <hr />

      <div ng-if="campaign.type === 'simple'">
        <h2>Options for a Simple Campaign:</h2>

        <label for="select" class="control-label">Send At</label>
        <div class="dropdown">
          <a class="dropdown-toggle" id="sendAt" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="campaign.sendAt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="campaign.sendAt" data-datetimepicker-config="{ dropdownSelector: '#sendAt' }"/>
          </ul>
        </div>
      </div>

      <div ng-if="campaign.type === 'recurring'">
        <h2>Options for a Recurring Campaign:</h2>
      </div>

      <div ng-if="campaign.type === 'trigger'">
        <h2>Options for a Trigger Campaign:</h2>
      </div>

    </div>

  </row>

</div>
