<div ng-controller="campaigns:list">

  <h1>Campaigns</h1>

  <div id="createCampaignModal" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create Campaigns</h4>
        </div>

        <div class="modal-body">
          <form ng-submit="processCreateCampaignForm()">

            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control" placeholder="welcome drip campaign" ng-model="forms.createCampaign.name">
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" name="description" class="form-control" placeholder="new user welcome campaign" ng-model="forms.createCampaign.description">
            </div>

            <div class="form-group">
              <label>Folder</label>
              <input type="text" name="folder" class="form-control" placeholder="default" ng-model="forms.createCampaign.folder">
            </div>

            <div class="form-group">
              <label>Transport</label>
              <select name="transport" class="form-control" ng-model="forms.createCampaign.transport">
                <option ng-repeat="t in transports" value="{{t.name}}">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Type</label>
              <select name="type" class="form-control" ng-model="forms.createCampaign.type">
                <option ng-repeat="t in types" value="{{t}}">{{t}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>List</label>
              <select name="listId" class="form-control" ng-model="forms.createCampaign.listId">
                <option ng-repeat="l in lists" value="{{l.id}}">{{l.folder}} / {{l.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Template</label>
              <select name="templateId" class="form-control" ng-model="forms.createCampaign.templateId">
                <option ng-repeat="t in templates" value="{{t.id}}">{{t.folder}} / {{t.name}}</option>
              </select>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  <span class="glyphicon glyphicon-flash"></span> Submit
                </button>
              </div>
            </div>

          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div id="editCampaignModal" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Campaign</h4>
        </div>

        <div class="modal-body">
          <form ng-submit="processEditCampaignForm()">

            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control" placeholder="welcome drip campaign" ng-model="forms.editCampaign.name">
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" name="description" class="form-control" placeholder="new user welcome campaign" ng-model="forms.editCampaign.description">
            </div>

            <div class="form-group">
              <label>Folder</label>
              <input type="text" name="folder" class="form-control" placeholder="default" ng-model="forms.editCampaign.folder">
            </div>

            <div class="form-group">
              <label>Transport</label>
              <select name="transport" class="form-control" ng-model="forms.editCampaign.transport">
                <option ng-repeat="t in transports" value="{{t.name}}">{{t.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Type</label>
              <select name="type" class="form-control" ng-model="forms.editCampaign.type">
                <option ng-repeat="t in types" value="{{t}}">{{t}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>List</label>
              <select name="listId" class="form-control" ng-model="forms.editCampaign.listId">
                <option ng-repeat="l in lists" value="{{l.id}}" ng-selected="forms.editCampaign.listId === l.id">{{l.folder}} / {{l.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Template</label>
              <select name="templateId" class="form-control" ng-model="forms.editCampaign.templateId">
                <option ng-repeat="t in templates" value="{{t.id}}" ng-selected="forms.editCampaign.templateId === t.id">{{t.folder}} / {{t.name}}</option>
              </select>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  <span class="glyphicon glyphicon-flash"></span> Submit
                </button>
              </div>
            </div>

          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <a ng-click="createCampaign();" class="btn btn-primary">Create Campaign</a>


  <table class="table table-striped table-hover">

    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>name</th>
        <th>description</th>
        <th>folder</th>
        <th>transport</th>
        <th>type</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody ng-repeat="campaign in campaigns">
      <tr>
        <td><a href="/#/campaign/{{ campaign.id }}"><span class="glyphicon glyphicon-edit">&nbsp;</span></a></td>
        <td><a href="/#/campaign/{{ campaign.id }}/stats"><span class="glyphicon glyphicon-signal">&nbsp;</span></a></td>
        <td><a href="/#/messages/search/campaignId:{{ campaign.id }}"><span class="glyphicon glyphicon-envelope">&nbsp;</span></a></td>
        <td>{{ campaign.createdAt }}</td>
        <td>{{ campaign.updatedAt }}</td>
        <td><strong>{{ campaign.name }}</strong></td>
        <td>{{ campaign.description }}</td>
        <td>{{ campaign.folder }}</td>
        <td>{{ campaign.transport }}</td>
        <td>{{ campaign.type }}</td>
        <td><span ng-click="copyCampaign(campaign.id);" class="glyphicon glyphicon-duplicate">&nbsp;</span></td>
        <td><span ng-click="editCampaign(campaign.id);" class="glyphicon glyphicon-pencil">&nbsp;</span></td>
        <td><span ng-click="deleteCampaign(campaign.id);" class="glyphicon glyphicon-remove">&nbsp;</span></td>
      </tr>
    </tbody>

  </table>

  <ul class="pagination pagination-sm" ng-if="campaigns.length > 0">
    <li ng-class="pagination.showBack ? '' : 'disabled'" ><a href="/#/campaigns/list/{{ pagination.firstPage }}">&laquo;</a></li>

    <li ng-repeat="p in pagination.pages" ng-class="p.active ? 'active' : ''">
      <a href="/#/campaigns/list/{{ p.page }}">{{ p.page }}</a>
    </li>

    <li ng-class="pagination.showForward ? '' : 'disabled'"><a href="/#/campaigns/list/{{ pagination.lastPage }}">&raquo;</a></li>
  </ul>

</div>
