<div ng-controller="campaign:stats">

  <div class="row">
    <div class="col-md-12">
      <h1>Campaign Stats: {{ campaign.name }}</h1>
      <p>{{ campaign.description }}</p>
      <h3 class="text-success" ng-if="campaign.sentAt">Sent At: {{ campaign.sentAt.toString() }}</h3>
    </div>
  </div class="row">

  <div class="row">
    <div class="col-md-12">
      <h2>Campaign Events</h2>
      <p><em>Only one type of event per message is counted; most recent multiple is reported</em></p>
    </div>

    <form class="form-horizontal" ng-submit="loadCampaignStats()">

      <div class="col-md-2">
        <label for="select" class="control-label">Interval</label>
        <select class="form-control" ng-model="histogramOptions.interval" ng-options="i for i in possibleIntervals"></select>
      </div>

      <div class="col-md-4">
        <label for="select" class="control-label">Start</label>
        <div class="dropdown">
          <a class="dropdown-toggle" id="histogramOptions-start" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="histogramOptions.start"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="histogramOptions.start" data-datetimepicker-config="{ dropdownSelector: '#histogramOptions-start' }"/>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <label for="select" class="control-label">End</label>
        <div class="dropdown">
          <a class="dropdown-toggle" id="histogramOptions-end" role="button" data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="histogramOptions.end"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="histogramOptions.end" data-datetimepicker-config="{ dropdownSelector: '#histogramOptions-end' }"/>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <label class="control-label">&nbsp;</label>
        <button type="submit" class="form-control btn btn-primary">Update</button>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="histogramChart" width="300" height="300" style="width: 100%; height: auto;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Conversion Rate</h2>
    </div>

    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Sent</h3>
        </div>
        <div class="panel-body">
          <p>{{ funnel.totals.sentAt }}</p>
          <p>100%</p>
        </div>
      </div>
    </div>

    <div class="col-md-1"><h1> &rarr; </h1></div>

    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Read</h3>
        </div>
        <div class="panel-body">
          <p>{{ funnel.totals.readAt }}</p>
          <p>{{ funnel.rates.readAt }}%</p>
        </div>
      </div>
    </div>

    <div class="col-md-1"><h1> &rarr; </h1></div>

    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Acted</h3>
        </div>
        <div class="panel-body">
          <p>{{ funnel.totals.actedAt }}</p>
          <p>{{ funnel.rates.actedAt }}%</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <h2>Preview:</h2>
    <div ng-if="template.url.indexOf('undefined') < 0">
      <p>personGuid: <input type="text" ng-model="renderOptions.personGuid"> Link: <input ng-model="template.url" readonly></input></p>
      <hr />
      <iframe id="templateRenderFrameSmall" ng-src="{{ template.url }}" scrolling="no" frameborder="0" onLoad="app.utils.iframeResizeToFit('templateRenderFrameSmall')"></iframe>
    </div>
  </div>

</div>
