<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/dashboard"><img src="/images/logo/logo.png" height="100%" /></a>
    </div>


    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li  ng-class="getNavigationHighlight({highlights: ['^\/dashboard.*$']})">
          <a href="/#/dashboard"><strong>Dashboard</strong></a>
        </li>
      </ul>

      <ul ng-repeat="group in navigation" class="nav navbar-nav" ng-class="(group.align === 'right') ? 'navbar-right' : 'navbar-left'">
        <li class="dropdown" ng-class="getNavigationHighlight(group)">
          <a id="navDropdown-{{ group.title }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon {{ group.glyphicon }}">&nbsp;</span>{{ group.title }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="element in group.elements" ng-class="getNavigationHighlight(element)">
              <hr ng-if="element.divider === true" />
              <a ng-if="element.divider !== true" href="{{ element.route }}">
                <span class="glyphicon {{ element.glyphicon }}">&nbsp;</span>
                {{ element.title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
