<div ng-controller="record:new">

  <div class="row">
    <div class="col-md-12">
      <h1>New {{ recordType }}</h1>
    </div>
  </div>

  <div class="row">
    <form ng-submit="processForm()">

      <!-- LEFT SIDE -->
      <div class="col-md-6">

        <div class="col-md-12">
          <h2>Top-Level Properties</h2>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="select" class="control-label">createdAt</label>
            <div class="dropdown">
              <a class="dropdown-toggle" id="createdAt" role="button" data-toggle="dropdown">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="formData.createdAt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="formData.createdAt" data-datetimepicker-config="{ dropdownSelector: '#createdAt' }"/>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group"
            ng-repeat="(input, inputData) in action.inputs"
            ng-if="input !== 'createdAt' && input !== 'sync' && input !== 'data'"
          >
            <label>{{ input }} <span ng-if="inputData.required">(required)</span></label>
            <input type="text" name="{{ input }}" class="form-control" ng-model="formData[input]">
          </div>
        </div>

        <div class="col-md-12">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-flash"></span> Create
          </button>
        </div>

      </div>

      <!-- RIGHT SIDE -->
      <div class="col-md-6">

        <div class="col-md-12">
          <h3>Add a Data Property:</h3>
        </div>

        <div class="col-md-5">
          <label class="control-label">Key</label>
          <input type="text" class="form-control" id="newDataKey" placeholder="firstName" ng-model="newDataKey">
        </div>

        <div class="col-md-5">
          <label class="control-label">Value</label>
          <input type="text" class="form-control" id="newDataValue" placeholder="firstName" ng-model="newDataValue">
        </div>

        <div class="col-md-2">
          <label class="control-label">&nbsp;</label>
          <button type="button" ng-click="loadDataProperty()" class="form-control btn btn-primary">Add</button>
        </div>

        <div class="col-md-12">
          <h2>Data Properties</h2>
        </div>

        <div class="col-md-12">
          <table class="table table-striped table-hover">

            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody ng-repeat="(key, value) in formData.data">
              <tr>
                <td><span ng-click="deleteDataAttribute(key)" class="glyphicon glyphicon-remove">&nbsp;</span> {{ key }}</td>
                <td>
                  <input ng-model="formData.data[key]" type="text" style="width:100%" >
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

    </form>
  </div>

</div>
