<div class="row" ng-controller="dashboard:view">

  <div class="col-md-12">
    <h1><strong>{{ status.node.team.name }}</strong> @ ({{ status.node.team.trackingDomain }})</h1>
    <p>
      <span class="text-info">MessageBot Version {{ status.node.version }}</span>
      |
      Refresh Interval:
      <select ng-model="refreshInterval">
        <option value="0">no refresh</option>
        <option value="1">1s</option>
        <option value="5">5s</option>
        <option value="30">30s</option>
        <option value="60">1m</option>
      </select>
    </p>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>Realtime</h2>
    <div id="realtimeChart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>Tracking</h2>
  </div>

  <div ng-repeat="(range, setter) in ranges">
  <div ng-class="$index === 0 ? 'col-md-12':'col-md-4'">
    <div ng-class="$index === 0 ? 'panel-info':'panel-default'" class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{ range }}</h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div ng-repeat="section in sections" class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h5>{{ stats[range][section] }}</h5>
              </div>
              <div class="panel-footer text-center">{{ section }}</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>Sent Campaigns</h2>
  </div>

  <div class="col-md-12">
    <table class="table table-striped table-hover">

      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Sent At</th>
          <th>Total Messages</th>
          <th>Type</th>
          <th>Transport</th>
          <th>Stats</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="campaign in campaigns">
          <td><a href="/#/campaign/{{ campaign.id }}/stats"><span class="glyphicon glyphicon-signal">&nbsp;</span></a></td>
          <td><strong>{{ campaign.name }}</strong></td>
          <td>{{ campaign.sentAt }}</td>
          <td>{{ campaignFunnels[campaign.id].totals.sentAt }}</td>
          <td>{{ campaign.type }}</td>
          <td>{{ campaign.transport }}</td>
          <td>
            <p>
              <strong><span>Conversion Rate: <span class="badge">{{ campaignFunnels[campaign.id].rates.actedAt }}%</span></span></strong>
            </p>
            <p>
              <span class="label label-danger">{{ campaignFunnels[campaign.id].totals.sentAt }} Sent</span>
              <span class="label label-info">{{ campaignFunnels[campaign.id].totals.readAt }} Read</span>
              <span class="label label-success">{{ campaignFunnels[campaign.id].totals.actedAt }} Acted</span>
            </p>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
