<div class="row">

  <div class="col-md-12">
    <h1>MessageBot @ <strong>tracking.mysite.com</strong></h1>
    <p><span class="text-info">MessageBot Version 1.3.3</span></p>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>Realtime</h2>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>Tracking</h2>
  </div>

  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Today</h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h1>100</h1>
              </div>
              <div class="panel-footer text-center">People</div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h1>100</h1>
              </div>
              <div class="panel-footer text-center">Events</div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h1>100</h1>
              </div>
              <div class="panel-footer text-center">Messages</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4" ng-repeat="timeWindow in ['This Week', 'This Month', 'All Time']">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ timeWindow }}</h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h3>1234</h3>
              </div>
              <div class="panel-footer text-center">People</div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h3>1234</h3>
              </div>
              <div class="panel-footer text-center">Events</div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h3>1234</h3>
              </div>
              <div class="panel-footer text-center">Messages</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>Campaigns</h2>
  </div>

  <div class="col-md-12">
    <table class="table table-striped table-hover">

      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Sent At</th>
          <th>Total Audience</th>
          <th>Transport</th>
          <th>Stats</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="campaign in ['Welcome Email Drip', 'Other Campaign', 'July 4th Sale']">
          <td><a href="/#/campaign/3/stats"><span class="glyphicon glyphicon-signal">&nbsp;</span></a></td>
          <td><strong>{{ campaign }}</strong></td>
          <td>2016-07-06T23:23:38.284Z</td>
          <td>1234</td>
          <td>SMTP</td>
          <td>
            <p>
              <strong><span>Conversion Rate <span class="badge">3.43%</span></span></strong>
            </p>
            <p>
              <span class="label label-danger">1000 Sent</span>
              <span class="label label-info">500 Read</span>
              <span class="label label-success">200 Acted</span>
            </p>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
